.users-list-outer {
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 20px;
}

.create-user {
  background-color: #3b54d2;
  border: none;
  border-radius: 7%;
  color: #fff;
  padding: 5px 20px;
}
