.user-card {
    width: 320px;
    border: 1px solid black;
    border-radius: 2%;
    padding: 0 10px 10px;
    box-sizing: border-box;
}

.btn-delete {
    display: block;
    width: 80px;
    height: 25px;
}

.btn-edit {
    display: block;
    width: 80px;
    height: 25px;
}

.btn-group {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}